body{
    color: white;
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}

    /* Nav Bar */
        .Nav-Bar-Box {
            z-index: 999;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 85px;
            background-color: rgb(44, 35, 79);
            display: flex;
            gap: 200px;
        }

        #logo {
            margin-top: -70px;
            height: 230px;
        }

        .Nav-Bar-Buttons-Container {

            display: flex;
            align-items: center;
            gap: 400px;
        }

        .Nav-Bar-Buttons {
            text-decoration: none;
            font-size: 29px;
            color: white;
            cursor: pointer;
        }

        .Nav-Bar-Buttons:hover{
            text-decoration: underline;
        }

    /* Hero Section */

        .heroimgContainer {
            position: relative;
            height: 730px;
            width: 100%;
            background-color: gray;
        }
        .heroText {
            position: absolute;
            z-index: 3;
        }
        #t1 {
            top: 105px;
            left: 260px;
            font-size: 55px;
            color: rgb(242, 215, 34);
            font-weight: bold;
            -webkit-text-stroke: 1.5px rgb(44, 32, 32);
        }
        #t2 {
            backdrop-filter: blur(5px);
            color: white;
            top: 158px;
            letter-spacing: 2px;
            left: 320px;
            font-size: 40px;
            font-weight: 100;
        }
        #t3 {
            backdrop-filter: blur(5px);
            color: white;
            top: 202px;
            left: 285px;
            letter-spacing: 2px;
            font-size: 44px;
        }
        #t4 {
            letter-spacing: 1px;
            color: white;
            font-size: 26px;
            top: 290px;
            left: 300px;
        }
        
        .button {
            color: white;
            font-size: 26px;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-weight: 500;
            background-color: rgb(65, 128, 211);
            width: 210px;
            height: 50px;
            top: 370px;
            left: 395px;
            position: absolute;
            z-index: 999;
            cursor: pointer;
            align-content: center;
            border-radius: 40px;
        }
        

        .button:hover{
            opacity: 0.95;
        }
        #heroImg {
            position: absolute;
            object-fit: fill;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.8;
        }

    /* About Us Section */

        .about-us-container {
            z-index: 1;
            width: 100%;
            height: 2300px;
            background-color: rgb(46, 33, 94);
            margin-top: 406px;
            border-radius: 10px;
        }
        .aboutUsText{
            position: relative;
            margin-left: 20px;

            color: black;
        }
        #aboutUsHeader{
            position: relative;
            top: 55px;
            font-size: 50px;
            color: white;
            text-align: center;
        }
        .section1-box{
            background-color: #F2F2F2;
            position: absolute;
            top: 1620px;
            left: 50px;
            width: 56%;
            border-radius: 70px;
            height: 235px;
        }
        .section1-img-box{
            position: relative;
            left: 68%;
            top: 230px;
            background-color: #F2F2F2;
            height: 356px;
            width: 448px;
        }
        #sec1Img{
            position: absolute;
            object-fit: fill;
            width: 100%;
            height: 100%;
            z-index: 1;
        
        }
       
        button{
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        
        }
        .section2-img-box{
            position: relative;
            left: 5%;
            top: 505px;
            background-color: #F2F2F2; 
            height: 356px;
            width: 448px;
        }
        #sec2Img{
            position: absolute;
            object-fit: fill;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .section2-box{
            background-color: #F2F2F2;
            position: absolute;
            top: 2150px;
            left: 700px;
            width: 55%;
            border-radius: 70px;
            height: 400px;
        }
       #aboutUsH1{
        margin-left: 50px;
        font-size: 30px;
       }
       #aboutUsText1{
        letter-spacing: 1px;
        font-size: 22px;
       }

       #aboutUsH2{
        font-size: 30px;
        margin-left: 50px;
       }
       #aboutUsText2{
        font-size: 22px;
        letter-spacing: 1px;
       }
       .SubHeading{
        font-weight: bold;
       }
       #endingText{
        font-size: 40px;
        text-align: center;
        position: relative;
        top: 55%;
       }
       #moreInfoBtn{
        background-color: #514193;
        position: relative;
        top: 57%;
        text-decoration: none;
        margin-left: 350px;
        width: 250px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        
       }
       

       /* LINE UP SECTION */

       #lineUpHeader{
        position: relative;
        text-align: center;
        margin-top: 48%;
        font-size: 44px;
        margin-left: 85px;
        font-weight: bolder;
        letter-spacing: 1px;
        color: black;
       }

       .Line-Up-Box{
            z-index: 999;
            width: 100%;
            height: 860px;
            gap: 150px;
            display: flex;
            justify-content: center;
       }
       .lineup-box-image{
            margin-top: 50px;
            height: 418px;
            width: 333px;
            background-color: #d2d0d0;
       }
        .lineUpContainer1{
            background-color: antiquewhite;
            height: 418px;
            width: 333px;

       }
       
       .line-up-text-box{
        letter-spacing: 1px;
        color: black;
        width: 100;
        text-align: center;
       }

       #LineUpBtn{
        background-color: #2C234F;
        margin-top: 4700px;
        margin-left: 335px;
        width: 270px;
        height: 70px;
        text-decoration: none;
       }



       /* footer section */

      .footer-box{

        width: 100%;
        height: 400px;
        z-index: 800;
       }

       .footer-container{
        display: flex;
        gap: 400px;
        width: 100%;
        height: 100%;
        background-color: #2C234F;
       }

       #footerLogo{
        z-index: 1000;
        margin-top: -70px;
        width: 400px;
        height: 305px;

       }

       #contact{
        position: relative;
        font-size: 16px;
        margin-left: 50px;
        margin-top: 40px;
       }
       #copyright{
        font-size: 16px;
        margin-left: 50px;
        margin-top: 40px;
       }

       .categories{
        color: white;
        cursor: pointer;
       }
       .categoriesH1{
        font-size: 17px;
       }
    
       .links{
        color: white;
        text-decoration: none;
        display: flex;
        margin-top: 20px;
       }




       /* terms & condition pop up box */


       .termsConds{
        visibility: hidden;
        padding: 15px;
        border-radius: 5%;
        background-color: #d2d0d0;
        width: 1000px;
        height: 900px;
        z-index: 999;
        bottom: 10px;
        justify-self: center;
        justify-items: center;
        color: black;
        font-size: 10.8px;
       }
      

       
       
       