<!-- CSS for info page -->
body {
  background-color: black;
  color: rgb(255 255 204);
  font-family: Arial, Helvetica, sans-serif, monospace;
}

/* Nav Bar */
        .Nav-Bar-Box {
            z-index: 999;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 85px;
            background-color: rgb(44, 35, 79);
            display: flex;
            gap: 200px;
        }

/* Logo for the website */
		  #logo {
            margin-top: -70px;
            height: 230px;
        }

/* Container for the nav bar buttons */		
		  .Nav-Bar-Buttons-Container {
            display: flex;
            align-items: center;
            gap: 400px;
        }

/* Buttons for the Nav bar to press*/
		 .Nav-Bar-Buttons {
            font-size: 29px;
            color: white;
            cursor: pointer;
        }

/* Text is underlined when you hover over it */
		.Nav-Bar-Buttons:hover{
            text-decoration: underline;
        }

/* Adds an image with lowered brightness and centered on the page. Also sized to fill the page. */
	.concert-image-info {
    		filter: brightness(50%);
    		background-image: url("https://images.pexels.com/photos/154147/pexels-photo-154147.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    		background-size: fill;
    		background-position: center;
    		width: 100%;
    		height: 500px;  
			border: 4px solid #2E003E;
}

/* Adds another image and centered on the page. */
	.concert-image-infotwo {
    		background-image: url("https://www.irishtimes.com/resizer/cxkl2-fIaEqKZLt6AymOvkloXb8=/1600x0/filters:format(jpg):quality(70)/cloudfront-eu-central-1.images.arcpublishing.com/irishtimes/ARFLNXK3VW6DWQOW2QML5KRY74.jpg");
    		background-size: fill;
    		background-position: center;
    		width: 100%;
    		height: 500px;
			border: 5px blue;
			border: 4px solid purple;
	}

/* Adds text over the image */
	.overlay-text-info {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
    		background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
    		color: yellow;
    		padding: 40px 700px;
    		font-size: 40px;
    		border-radius: 8px;
    		text-align: center;
    		white-space: nowrap;
	}

/* Adds more text over the image under the first line of text */
	.overlay-text-infotwo {
    		position: absolute;
    		top: 58%;
    		left: 50%;
    		transform: translate(-50%, -50%);  
    		color: white;
    		font-size: 35px;
    		text-align: center;
    		white-space: nowrap;
}

/* Adds a text box to display text in */
.text-box-info {
	width: 1480px;
	height: 690px;
	border: 2px solid #000;
	padding: 10px;
	background-color: #2E215E;
	background-size: fill;
	border: 10px solid navy;
	}

	/* Adds another text box to display text in */
	.text-box-infotwo {
		width: 1473px;
		height: 760px;
		border: 2px solid #000;
		padding: 10px;
		background-color: #2C003E;
		background-size: fill;
		border: 5px solid purple;
		max-width: 900px;
		margin: 0 auto;
}

/* Adds a footer [must put in Stephanie's later] */


      .footer-box{

        width: 100%;
        height: 400px;
        z-index: 800;
       }

       .footer-container{
        display: flex;
        gap: 400px;
        width: 100%;
        height: 100%;
        background-color: #2C234F;
       }

       #footerLogo{
        z-index: 1000;
        margin-top: -70px;
        width: 400px;
        height: 305px;

       }

       #contact{
        position: relative;
        font-size: 16px;
        margin-left: 50px;
        margin-top: 40px;
       }
       #copyright{
        font-size: 16px;
        margin-left: 50px;
        margin-top: 40px;
       }

       .categories{
        color: white;
        cursor: pointer;
       }
       .categoriesH1{
        font-size: 17px;
       }
    
       .links{
        color: white;
        text-decoration: none;
        display: flex;
        margin-top: 20px;
       }

  /* terms & condition pop up box */


       .termsConds{
        visibility: hidden;
        padding: 15px;
        border-radius: 5%;
        background-color: #d2d0d0;
        width: 1000px;
        height: 900px;
        z-index: 999;
        bottom: 10px;
        justify-self: center;
        justify-items: center;
        color: black;
        font-size: 10.8px;
       }



