body{
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #2E215E; /* blue */
    color: white;
    border: none;
    border-radius: 4px;
}

/* Hide dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #140937;
    color:aliceblue;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show dropdown when .show is added by JS */
.dropdown-content.show {
    display: block; 
}

.dropdown-content p {
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #533ca5;
}
.Nav-Bar-Box {
     z-index: 999;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 85px;
     background-color: rgb(44, 35, 79);
     display: flex;
     gap: 200px;
     }

#logo {
 margin-top: -70px;
 height: 230px;
  }

.Nav-Bar-Buttons-Container {

 display: flex;
 align-items: center;
 gap: 400px;
}

.Nav-Bar-Buttons {
 text-decoration: none;
 font-size: 29px;
 color: white;
 cursor: pointer;
 }
.Nav-Bar-Buttons:hover{
    text-decoration: underline;
  }

h1 {
    margin: 0;                 
    padding: 20px;            
    background-color:rgb(44, 35, 79); 
    border-bottom: 3px solid #000; 
    text-align: center;        
    width: 100%;
    color: aliceblue;
}

p {
    margin: 0;                 
    padding: 20px;            
    background-color: rgb(34, 26, 65); 
    border-bottom: 3px solid #000; 
    text-align: center;        
    width: 100%;
    color: aliceblue;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1200px#2E215E ;
    margin-top: 250px; 
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
}
tr{
       height: 200px;
}

body {
    background-image: url("Assets/images/bg.jpg"); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
}
.footer-box{

        width: 100%;
        height: 400px;
        z-index: 800;
       }

       .footer-container{
        display: flex;
        gap: 400px;
        width: 100%;
        height: 100%;
        background-color: #2C234F;
       }

       #footerLogo{
        z-index: 1000;
        margin-top: -70px;
        width: 400px;
        height: 305px;

       }

       #contact{
        position: relative;
        font-size: 16px;
        margin-left: 50px;
        margin-top: 40px;
       }
       #copyright{
        font-size: 16px;
        margin-left: 50px;
        margin-top: 40px;
       }

       .categories{
        color: white;
        cursor: pointer;
       }
       .categoriesH1{
        font-size: 17px;
       }
    
       .links{
        color: white;
        text-decoration: none;
        display: flex;
        margin-top: 20px;
       }


